<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시해야 한다. -->

<!-- 이 XML의 구조대로 구현될 클래스의 이름 -->
<mapper namespace="BbsDocumentMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="bbs_document" type="study.jsp.mysite.model.BbsDocument">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" 	column="id" />
		<result property="category" 	column="category" />
		<result property="writerName" 		column="writerName" />
		<result property="writerPw" 		column="writerPw" />
		<result property="email" 		column="email" />
		<result property="subject" 		column="subject" />
		<result property="content" 		column="content" />
		<result property="hit" 		column="hit" />
		<result property="regDate" 		column="regDate" />
		<result property="editDate" 		column="editDate" />
		<result property="ipAddress" 		column="ipAddress" />
		<result property="memberId" 		column="memberId" />
	</resultMap>
	
	
</mapper>